@use "../../styles/abstract.scss" as *;

/* basic styles */
.skeleton {
  background: #ddd;
  overflow: hidden;
  // margin: 10px 0;
  margin: 0.35rem 0;
  border-radius: $border-radius-3;
}
.skeleton.text {
  width: 100%;
  height: 16px;
}
.skeleton.title {
  width: 75%;
  height: 24px;
  // margin-bottom: 0.5rem;
}
.skeleton.avatar {
  width: 34px;
  height: 34px;
  border-radius: $border-radius-3;
}
.skeleton.thumbnail {
  width: 100px;
  height: 100px;
}
.skeleton.time {
  width: 34px;
  height: 16px;
  border-radius: $border-radius;
  margin-bottom: 5rem;
  align-self: flex-end;
}
.skeleton-wrapper {
  width: 100%;
  // width: 275px;
  margin: 20px auto;
  // padding: 10px 15px;
  padding: 0.875rem 0.875rem;
  border-radius: $border-radius;
  position: relative;
  overflow: hidden;
}

/* skeleton profile */
.skeleton-profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
  align-items: center;
}

.skeleton-video {
  display: flex;
  flex-direction: column;
  // width: 250px;
}
.skeleton-channel-wrapper {
  display: flex;
  align-items: center;
  width: 70%;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  .skeleton.text {
    width: 80%;
  }
  .skeleton {
    margin: 0;
  }
}

/* themes */
.skeleton-wrapper.light {
  background: #f2f2f2;
}
.skeleton-wrapper.dark {
  // background: #444;
  background: $menu-color;
}
.skeleton-wrapper.dark .skeleton {
  // background: #777;
  background: $menu-highlight;
}

/* animation effects */
.shimmer-wrapper {
  position: absolute;
  /* parent must be relative position & overflow hidden */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 2.5s infinite;
}
.shimmer {
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.2);
}
.dark .shimmer {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.05);
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(150%);
  }
}
