@use "../../styles//abstract.scss" as *;

.watch-content-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;

  .video-recommendation {
    // width: 20%;
    width: 350px;
    margin-left: 2rem;

    .video-gallery-wrapper,
    .video-gallery-wrapper--loader {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
