$primary-color: #ff3636;
$primary-dark-color: #da1818;
$primary-darkest-color: #690606;
$text: #f5f8f9;
$text-white: #ffffff;
$text-light: #656467;
$text-lightest: #aeb0b2;
$menu-color: #15161a;
$menu-light: #202325;
$menu-highlight: #373d41;
$bg-color: #040304;
$bg-light-color: #161616;
$bg-lightest-color: #222222;
$border-color: #2c3131;
$hover-color: "";

$box-shadow: "something";

$header-height: 70px;

$font: "Poppins", sans-serif;

// $border-radius: 1.5rem;
$border-radius: 1.5rem;
$border-radius-2: 1rem;
$border-radius-3: 0.6rem;
$border-radius-4: 0.3rem;
