@use "../../styles//abstract.scss" as *;

.search-bar-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-grow: 1;

  .search-bar {
    position: relative;
  }

  .search-bar__icon {
    position: absolute;
    top: 50%;
    left: calc(1.25rem + 100px);
    transform: translateY(-50%);
    // stroke: $text;
    fill: $text;
  }

  .search-bar__input {
    height: 56px;
    background-color: $menu-color;
    border: 1px solid rgba($color: #ffffff, $alpha: 0.1);
    border-radius: $border-radius-2;
    padding: 0 3.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: $text;
    // flex-grow: 1;
    // width: 50%;
    width: 600px;
    // transform: translateX(100px);
    margin-left: 100px;

    &:focus-visible {
      border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
      box-shadow: rgba(120, 120, 120, 0.4) 0px 1px 5px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      outline: none;
    }
  }
  /* clears the ‘X’ from Chrome */
  .search-bar__input::-webkit-search-decoration,
  .search-bar__input::-webkit-search-cancel-button,
  .search-bar__input::-webkit-search-results-button,
  .search-bar__input::-webkit-search-results-decoration {
    display: none;
  }

  .search-bar__close {
    position: absolute;
    top: 50%;
    right: 1.25rem;
    transform: translateY(-50%);
    fill: $text-light;
    transition: 0.2s ease;
    cursor: pointer;

    &:hover {
      fill: $text;
    }
  }

  > span {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

@media (max-width: 1440) {
}
@media (max-width: 1024px) {
  .search-bar-wrapper {
    .search-bar {
      .search-bar__icon {
        left: calc(1.25rem + 10px);
      }

      .search-bar__input {
        margin-left: 10px;
        width: 400px;
      }
    }
  }
}
@media (max-width: 768px) {
  .search-bar-wrapper {
    .search-bar {
      .search-bar__input {
        width: 300px;
      }
    }
  }
}
@media (max-width: 484px) {
}
